ion-back-button{
    --color: #993399; 
}

h5{ 
    font-size: 40px;
    width: 50%;
    margin-left:25%;
    margin-top: 10%;
}

p{
    padding: 10% 10% 10% 10%;
    text-align: justify;
}

@media (min-width: 650px){
    h5{
        margin-left: 41%;
    }
}
