<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (swiperight)="fechar()">
<h5>ControlMax</h5>
<p>O ControlMax te ajuda a manter controle sombre suas finanças, de for simple e fácil, e totalmente de graça.Esse aplicativo foi desenvolvido por motivos educacionais, sem fins lucrativos (pelo menos ainda).</p>
</ion-content>
