<ion-header>
  <ion-toolbar>
    <ion-title>
      Despesas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div (click)="presentModal()"  class="iontes" >
      <div id="right">{{Clock | date:'dd/MM/yyyy HH:mm:ss'}}</div>
      <br>
      <input value="{{Clock | date:'ss'}}" id="mes">
  </div>
  <div class="vicon" routerLink="/settings">
    <ion-icon class="icon" name="settings"></ion-icon>
  </div>
  <div class="baddd" (click)="novog()" >
    <ion-icon class="badd" name="add-circle-outline"></ion-icon>
  </div>
</ion-content>
