.arrow{
    margin-left: 49%;
}

ion-footer{
    position: static !important;
}

.caixa{
    margin-top: 30%;
}

.title{
    font-size: 30px;
    text-align: center;
    margin: 10% 10% 10% 10%;
}

ion-item{
    margin-top: 3%;
}

ion-button{
    margin-top: 20%;
}

ion-input{
    width: 90%;
}
