<ion-header no-border>
  <ion-toolbar>
    <ion-title text-center></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (swipedown)="fechar()">

  <h5 class="title">Adicionar novo gasto</h5>

  
  <div class="caixa">
    <form [formGroup]="ngasto">
      <ion-item lines="none">
        <ion-label text-wrap>Lugar:</ion-label>
        <ion-input [(ngModel)]="novoRegistro.lugar" formControlName="lugar" placeholder="Digite o lugar da compra"></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label text-wrap>Valor:</ion-label>
        <ion-input [(ngModel)]="novoRegistro.valor" formControlName="valor" type="number" placeholder="Digite o valor da compra"></ion-input>
      </ion-item>
      
      <ion-button expand="full" [disabled]="ngasto.invalid" (click)="addRegistro()" fill="clear">Adicionar</ion-button>
    </form>
    </div>
      
</ion-content>
<ion-footer>
  <ion-icon class="arrow" src="./assets/_ionicons_svg_ios-arrow-down.svg" (click)="fechar()" ></ion-icon>
</ion-footer>
