:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  .swiper-slide {
    display: block;
  }
  ion-slide > h2 {
    margin-top: 2.8rem;
  }
  ion-slide > img {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }

  ion-slides{
    height: 100%;
    width: 100%;
  }

  ion-slide{
    padding-top: 20%; 
    height: 100%;
    width: 100%;
  }

  @media (max-width:320px){
    @media (max-height:568px){
      ion-slide{
        padding-top: 0%; 
      }
    }
  }