<ion-content>

  <button class="icon" (click)="histfechar()">
    <ion-icon class="close" name="close" ></ion-icon>
  </button>
  <button class="lixeira" (click)="apagar()">
    <ion-icon class="close" name="trash" ></ion-icon>
  </button>

  <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated letra">Histórico</ion-label>
  <div class="clear"></div>

  <div class="campo">

      <ion-list #mylist>
        
        <ion-list-header>
          <ion-label></ion-label>
        </ion-list-header>

        <p  id="test">Nenhuma compra foi adicionada ainda</p>
    
        <ion-item-sliding *ngFor="let h of historico">     
          <ion-item>
            <ion-label text-wrap>
              <h3>{{ h.lugar }}</h3>
              <ion-text color="secondary">
                <p class="money">{{ h.valor | currency:'R$ '}}</p>
              </ion-text>
              <p>{{ h.modificado | date:'short'}}</p>
            </ion-label>
            <!--<ion-icon name="trash" (click)="deletarRegistro(registro)"></ion-icon>-->
          </ion-item>
          <!--<ion-item-options side="end">
              <ion-item-option color="danger" (click)="deletarHistorico(historico)">Deletar</ion-item-option>
            </ion-item-options>-->    
        </ion-item-sliding>   
      </ion-list>
    </div>
</ion-content>