<ion-header>
  <ion-toolbar>
    <ion-title>Ajustar salário</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (swiperight)="fechar()">
  <h3>Novo salário</h3>
  <form [formGroup]="nsalario">
    <ion-input type="number" formControlName="salario" id="salario" class="inp" placeholder="digite o novo salário"></ion-input>
    <p class="baixo">Seu salario atual é de {{ moeda }}</p>
    <ion-button [disabled]="nsalario.invalid" (click)="setSalario()" fill="clear"> confirmar </ion-button>
  </form>
    
</ion-content>
